<div class="card border-0 transaction-history">
  <div class="card-header bg-primary text-white pt-3 pb-3">
    <i class="lni lni-list pe-3 fs-5 align-middle"></i>Transactions
    <strong>List</strong>
  </div>
  <div class="card-body">
    <ng-container *ngIf="isLoading" >
      <div class="text-center">
        <pfe-loader></pfe-loader>
      </div>
    </ng-container>
    <ng-container *ngIf="transactionList">
      <pfe-filter></pfe-filter>
      <div class="transaction-history_scrollable mt-3 pe-3 overflow-auto">
        <pfe-transaction-list-item [transactionItem]="transactionList"></pfe-transaction-list-item>
      </div>
    </ng-container>
    <ng-container *ngIf="subscriptionError">
      <p class="text-danger fs-6">{{subscriptionError}}</p>
    </ng-container>
  </div>
</div>
